@font-face {
    font-family: Aller;
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/Aller_Rg.ttf);
}

@font-face {
    font-family: Aller;
    font-weight: normal;
    font-style: italic;
    src: url(/fonts/Aller_It.ttf);
}

@font-face {
    font-family: Aller;
    font-weight: bold;
    font-style: normal;
    src: url(/fonts/Aller_Bd.ttf);
}

@font-face {
    font-family: Aller;
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/Aller_BdIt.ttf);
}

@font-face {
    font-family: Aller;
    font-weight: lighter;
    font-style: normal;
    src: url(/fonts/Aller_Lt.ttf);
}

@font-face {
    font-family: Aller;
    font-weight: lighter;
    font-style: italic;
    src: url(/fonts/Aller_LtIt.ttf);
}

@font-face {
    font-family: AllerDisplay;
    src: url(/fonts/AllerDisplay.ttf);
}
