@font-face {
    font-family: Fontin;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: local(Fontin), url(/fonts/Fontin-Regular.ttf) format(truetype);
}

@font-face {
    font-family: Fontin;
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
    src: local(Fontin), url(/fonts/Fontin-Italic.ttf) format(truetype);
}

@font-face {
    font-family: Fontin;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    src: local(Fontin), url(/fonts/Fontin-Bold.ttf) format(truetype);
}

@font-face {
    font-family: Fontin;
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps;
    src: local(Fontin), url(/fonts/Fontin-SmallCaps.ttf) format(truetype);
}
